{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}">Retour à la liste</a>
{% endblock %}
