{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau jeu</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}">Retour à la liste</a>
{% endblock %}
